# Server Config
APP_CONFIG_RUN__HOST="127.0.0.1"
APP_CONFIG_RUN__PORT=8000

# Database Config
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=dbname

POSTGRES_DIALECT=postgresql+asyncpg 
APP_CONFIG_DB__URL=${POSTGRES_DIALECT}://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}
